.jumbotron{
    background-color: aqua;
    color:black;
}

.btn{
    background-color: lightgreen;
    color:black;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.etiqueta{
    margin: auto;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.hoteles{
    background-color: lightcoral;
    border: 5px solid snow;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:10px;
    text-align: center;
}
footer{
    background-color: aqua;
    color:black;
    padding: 10px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}